.pass-form-registro::-ms-reveal, .pass-form-registro::-ms-clear {
    /*Esconder el ojito por default*/
    display: none;
}

.loader {
    /*Hacer el loader pantalla completa*/
    position: initial !important;
}

.titulo-h1 {
    font-size: 21pt;
    font-weight: bold;
    @apply tw-pb-6;
    @apply tw-text-inst-verdec;
}

.btn-admin {
    font-weight: 600;
    font-size: 16pt;
    background-color: #fff;
    @apply tw-rounded-full;
    padding: .375rem 2rem;
}

.mensajes-admin {
    font-size: 21pt;
    font-weight: bold;
    @apply tw-text-center;
    @apply tw-text-guia-gris54;
}

/********** AUTORIZACION DE USUARIOS **********/

.tabs-autorizacion .active {
    color: white !important;
    @apply tw-bg-titulo !important;
}

.tabs-autorizacion a {
    width: 33.33%;
    text-align: center;
    color: white;
    @apply tw-bg-menu;
}
.tab-tabla .table{
    margin-bottom: 0;
}
.tab-tabla .react-bootstrap-table{
    border: 1px solid #000;
    padding: 15px;
}

.tab-tabla .react-bootstrap-table-pagination-list{
    margin-top: 15px;
}
.tab-tabla .react-bootstrap-table-pagination-list a{
    @apply tw-text-titulo;
}
.tab-tabla .react-bootstrap-table-pagination-list .active a{
    border-color: inherit !important;
    @apply tw-bg-titulo;
}
.tabla-usuarios-header{
    text-align: center;
    color: #fff;
    @apply tw-bg-inst-grisc;
}
.react-bs-table-sizePerPage-dropdown #pageDropDown{
    margin-top: 15px;
    @apply tw-bg-titulo;
}
.react-bs-table-sizePerPage-dropdown ul li a{
    @apply tw-text-titulo
}