.main-statics-amounts {
    border-bottom-style: solid;
    border-color: #bc955c;
}

.main-statics-leves {
    border-bottom-style: solid;
    border-color: #276C6F;
}

.custom-h-450 {
    height: 450px;
}

/*.card-header {
    cursor: pointer;
}*/

.custom-card-body {
    padding-top: 1.25rem;
    padding-bottom: unset;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.custom-multiple-select {
    height: 200px !important;
}

.columns-button {
    width: 35px;
}

.content-columns {
    height: 150px;
    overflow-y: auto;
}

.custom-title-table {
    position: fixed;
}

#modal-to-add-class .modal-content {
    width: 650px;
    height: 550px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: unset;
    color: black;
    border-right: unset;
}

.nav-pills .nav-link {
    background-color: unset;
    color: black;
    border: 1px solid black;
    border-radius: unset;
}

.columns-container {
    color: black;
    border: 1px solid black;
    width: 70%;
    max-height: 250px;
    overflow-y: auto;
}