.leaflet-vista-completa a{
    background: #fff url('/images/analisis/vista-completa.svg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 50%;
}

.btn-analisis{
    font-weight: 600;
    background-color: #fff;
    border-radius: 9999px;
    padding: .375rem 2rem;
}
.coordenadas{
    position: absolute !important;
    bottom: 0;
    left: 150%;
}

.leaflet-zoom-box-control a {
    background: #fff url('/images/analisis/focus.svg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 70%;
}

.contenedor-menu-lateral{
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
}

.menu-lateral{
    background-color: #fff;
    width: 0px;
    transition: 0.5s;
    overflow-x: hidden;
    height: 100%;
    z-index: 1015;
}

.menu-lateral .card-header{
    padding: 10px;
}

.boton-menu-lateral{
    height: 40px;
    transform: translateY(230px);
    z-index: 1015;
}

.leaflet-control{
    font-family: 'Montserrat', sans-serif !important;
}

.tilelayer-base{
    z-index: 0 !important;
}

.div-herramientas-contenedor{
    border: 1px solid rgba(209, 213, 219);
    text-align: right;
    background-color: rgba(229, 231, 235);
    padding-top: 15px;    
    height: 70px;
    border-right: 0;
}

.div-herramientas-mapa{
    border: 1px solid rgba(209, 213, 219);
    /* text-align: right; */
    background-color: rgba(229, 231, 235);
    padding-top: 15px;
    height: 70px;
    border-left: 0;
    float: right;
}

.select-cambia-coordenadas{
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}