@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,600&display=swap');
@tailwind utilities;
/*Menu*/
.idioma-menu #basic-nav-dropdown{
    color: #fff;
}
.idioma-menu #basic-nav-dropdown:hover{
    @apply tw-text-inst-dorado;
}
/*Loader*/
.tooltip-pass>.tooltip-inner {
    max-width: 100%;
}

/*Modal*/

.modal-content {
    border: none;
}

.close {
    color: white;
}

/* Backgrounds index */

.bg-curvas-1 {
    background-image: url('/images/index/curvas_nivel.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-curvas-2 {
    background-image: url('/images/index/curvas_nivel2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-curvas-3 {
    background-image: url('/images/index/curvas_nivel4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-curvas-4 {
    background-image: url('/images/index/curvas_nivel3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.border-gris::after {
    content: '';
    background-color: #98989a;
    width: 0.5rem;
    padding: 0.5rem;
}

/* footer */

.simi-gob-mx {
    font-family: Montserrat;
    font-size: 13pt;
    line-height: 21pt;
    height: auto;
}

.simi-gob-mx-content {
    font-family: Montserrat;
    font-size: 13pt;
    line-height: 21pt;
    height: auto;
}

.simi-gob-mx-title {
    font-family: Montserrat;
    font-size: 16pt;
    line-height: 26pt;
    height: auto;
}

.stick-footer {
    background-image: url("/images/index/pleca.svg");
    background-color: #12322b;
    background-repeat: repeat-x;
    height: 50px;
}

/* custom responsive */

@media only screen and (min-width: 769px) {
    .custom-max-width {
        width: 100%;
        max-width: 1200px !important;
        padding-right: 75px !important;
        padding-left: 75px !important;
    }

    .custom-max-width-np {
        width: 100%;
        max-width: 1200px !important;
    }

    .custom-inst-text {
        font-family: Montserrat;
        font-size: 16pt;
        text-align: justify;
    }

    .custom-mx-t-1 {
        margin-top: 37px !important;
    }
    
    .custom-mx-t-2 {
        margin-top: 75px !important;
    }

    .custom-mx-b-1 {
        margin-bottom: 37px !important;
    }
    
    .custom-mx-x-1 {
        margin: 37px !important;
    }
}

@media only screen and (min-width: 481px) and (max-width : 768px) {
    .custom-max-width {
        width: 100%;
        max-width: 768px !important;
        padding-right: 37px !important;
        padding-left: 37px !important;
    }

    .custom-inst-text {
        font-family: Montserrat;
        font-size: 12pt;
        text-align: justify;
    }

    .custom-mx-t-1 {
        margin-top: 15px !important;
    }
    
    .custom-mx-t-2 {
        margin-top: 37px !important;
    }

    .custom-mx-b-1 {
        margin-bottom: 15px !important;
    }
    
    .custom-mx-x-1 {
        margin: 15px !important;
    }
}

@media only screen and (max-width: 480px) {
    .custom-max-width {
        width: 100%;
        max-width: 480px !important;
        padding-right: 37px !important;
        padding-left: 37px !important;
    }

    .custom-inst-text {
        font-family: Montserrat;
        font-size: 9pt;
        text-align: justify;
    }

    .custom-inst-text {
        font-family: Montserrat;
        font-size: 12pt;
        text-align: justify;
    }

    .custom-mx-t-1 {
        margin-top: 7px !important;
    }
    
    .custom-mx-t-2 {
        margin-top: 15px !important;
    }

    .custom-mx-b-1 {
        margin-bottom: 7px !important;
    }
    
    .custom-mx-x-1 {
        margin: 7px !important;
    }
}

.test-heigth {
    height: 100px !important;
}

.interesting-sites-images {
    width: 90%;
    height: 200px;
}