.pageNumbers{
    list-style: none;
    display: flex;
}

.pageNumbers li {
    padding: 4px;
    border: 1px;
    cursor: pointer;
    font-size: 1.0rem;
}

.pageNumbers li.active{
    background-color: #276C6F;
    color: white;
}

.pageNumbers li button{
    background-color: transparent;
    border:1px;
    color:black;
    font-size: 1.0rem;
    cursor:pointer;
}

.pageNumbers li button:hover{
    background-color: #276C6F;
    color: white;
    
}

.pageNumbers li button:focus{
    outline:none    
}